/*************** COMMON STYLES *****************/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.section {
  padding-top: 50px;
  padding-bottom: 50px;
}

.container {
  max-width: 1168px;
  margin: 0 auto;
  padding: 0 16px;
}

.highlighter-text {
  color: #fd9222;
}

/*************** HEADER STYLES *****************/
.nav-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 980px;
}

.logo,
.logo-text-simply {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 700;
  line-height: 1.11;
  letter-spacing: -0.03em;
  color: #111;
}

.logo-text-simply {
  font-style: italic;
}

.nav-icon-chocolate {
  margin-left: 4px;
  fill: #fcf1e0;
  stroke: #fd9222;
}

.menu-nav {
  display: flex;
  column-gap: 24px;
}

.menu-nav-link {
  display: block;
  padding-top: 28px;
  padding-bottom: 36px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #111;
  transition: color 250ms linear;
}

.menu-nav-link:hover,
.menu-nav-link:focus {
  color: #fd9222;
}

.header-media-menu {
  display: flex;
  column-gap: 18px;
}

.header-media-link {
  display: block;
  padding-top: 28px;
  padding-bottom: 36px;
  line-height: 0;
  fill: none;
  stroke: #111;
  transition: fill 250ms linear;
}

.header-media-link:focus,
.header-media-link:hover {
  stroke: #fd9222;
}

/*************** FIRST SECTION STYLES *****************/
.view-section {
  background-position: center;
  max-width: 1136px;
  margin: 0 auto;
  padding: 381px 40px 40px 40px;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)),
    url(../images/chocolate-covered-cocoa-powder.jpg);
  border-radius: 30px;
}

.header-first-level {
  width: 484px;
  margin-bottom: 32px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.03em;
  color: #fff;
}

.view-btn {
  display: flex;
  align-items: center;
}

.buy-button {
  min-width: 144px;
  height: 45px;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 600;
  background-color: #fd9222;
  border: none;
  border-radius: 100px;
  color: #fff;
  transition: background-color 250ms linear, color 250ms linear;
}

.buy-button:hover,
.buy-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.recipe-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 183px;
  height: 45px;
  margin-right: auto;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff;
  transition: background-color 250ms linear, color 250ms linear;
}

.recipe-link:hover,
.recipe-link:focus {
  background-color: #fff;
  border-color: #fd9222;
  color: #fd9222;
}

.scroll-box {
  display: flex;
  align-items: center;
}

.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 250ms linear;
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}

.scroll-down-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 38px;
  height: 38px;
  background-color: #fff;
  border-radius: 50%;
  fill: #fd9222;
  transition: color 250ms linear;
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper {
  background-color: #fd9222;
  fill: #fff;
}

/*************** DESCRIBE SECTION STYLES *****************/
.describe-section {
  margin-bottom: 50px;
  margin-top: 72px;
  padding: 50px 0;
  background-color: #1e1823;
}

.benefits-container {
  padding-left: 34px;
  padding-right: 34px;
}

.title-describe-section {
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.describe-menu {
  display: flex;
  column-gap: 88px;
}

.describe-item {
  position: relative;
  width: calc((100% - 196px) / 3);
}

.describe-item:not(:last-child)::after {
  position: absolute;
  width: 1px;
  height: 50%;
  top: 50%;
  right: -18px;
  transform: translateY(-50%);
  content: "";
  background-color: rgba(255, 255, 255, 0.5);
}

.describe-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}

.describe-icon {
  fill: #fd9222;
}

.describe-header {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.describe-paragraph {
  width: 308px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*************** INGREDIENTS STYLES *****************/
.header-ingredients {
  max-width: 411px;
  margin: 0 auto;
  margin-bottom: 28px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.paragraph-ingredients-section {
  max-width: 486px;
  margin: 0 auto;
  margin-bottom: 50px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.ingredients-box-menu {
  display: flex;
  column-gap: 19px;
}

.ingredients-menu-item {
  position: relative;
  width: calc((100% - 57px) / 4);
  padding: 32px 28px;
  border-radius: 15px;
  overflow: hidden;
}

.ingredients-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-menu-item:nth-child(4n + 1) {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  color: #ffffff;
}

.ingredients-menu-item:nth-child(even) {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.ingredients-menu-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: 1px solid #1e1823;
  color: #fff;
}

.ingredients-list-img {
  margin-bottom: 36px;
}

.ingredients-menu-item:hover .overlay {
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 20px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  border-radius: 15px;
  overflow: auto;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-heading {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.overlay-menu {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-bottom: 14px;
  white-space: nowrap;
}

.overlay-menu-item-ingredients {
  border-radius: 35px;
  background-color: #fd9222;
}

.overlay-item-ingredients {
  padding: 6px 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.overlay-menu-item-benefits {
  border-radius: 35px;
  border: 1px solid #fd9222;
  background-color: #fafafa;
}

.overlay-item-benefits {
  padding: 6px 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #111;
}

.overlay-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.3;
  letter-spacing: -0.02em;
  color: #111;
}

/*************** HOW IT`S MADE STYLES *****************/
.header-made-section {
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.made-box {
  display: flex;
  column-gap: 20px;
}

.made-menu-box {
  flex-grow: 1;
  padding: 32px;
  border-radius: 15px;
  background-color: #ffffff;
}

.title-maid-section {
  width: 350px;
  margin-bottom: 28px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #111;
}

.made-item {
  display: flex;
}

.made-item:not(:last-child) {
  margin-bottom: 24px;
}

.icon-list-box {
  position: relative;
}

.icon-list {
  margin-right: 8px;
  top: 0px;
  left: 0px;
  transform: translateX(-50%);
  fill: #4c4c4c;
  stroke: #eceded;
  stroke-width: 1px;
}

.paragraph-text-made-section {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*************** TEAM STYLES *****************/

.team-section {
  margin-bottom: 50px;
}

.header-team-section {
  margin-bottom: 90px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.team-section-menu {
  display: flex;
  column-gap: 28px;
  margin-bottom: 50px;
}

.team-menu-item {
  position: relative;
  width: calc((100% - 56px) / 3);
  padding: 66px 24px 24px 24px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 9.05px 100px 0px rgba(17, 17, 17, 0.03);
}

.team-avatar-box {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
  background-color: lightgray;
}

.title-team-section {
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.text-team-section {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.review-button {
  display: block;
  width: 222px;
  height: 50px;
  margin: 0 auto;
  font-size: 18px;
  font-weight: 600;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #fd9222;
  color: #111;
  transition: background-color 250ms linear, color 250ms linear;
}

.review-button:hover,
.review-button:focus {
  background-color: #fd9222;
  color: #fff;
}

/*************** FOOTER STYLES *****************/
.page-footer {
  background-color: #1e1823;
}

.footer-paragraph-box {
  display: flex;
  justify-content: space-between;
  padding-bottom: 54px;
  position: relative;
  /*border-bottom: 1px solid rgba(255, 255, 255, 0.1); - замість ::after*/
}

.footer-paragraph-box:after {
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
}

.footer-paragraph,
.footer-highlighter-text {
  max-width: 300px;
  font-size: 28px;
  font-weight: 500;
  line-height: 1.21;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-highlighter-text {
  color: #fd9222;
}

.footer-header {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.28;
  color: #fff;
}

.address-item:not(:last-child) {
  margin-bottom: 4px;
}

.address-link {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.28;
  letter-spacing: -0.02em;
  font-style: normal;
  color: #fff;
  transition: color 250ms linear;
}

.address-link:hover,
.address-link:focus {
  color: #fd9222;
}

.footer-nav-box {
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
}

.footer-nav-menu {
  display: flex;
  padding-top: 24px;
  column-gap: 24px;
}

.footer-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 250ms linear;
}

.footer-link:hover,
.footer-link:focus {
  color: #fd9222;
}

.input-data {
  width: 313px;
  height: 52px;
  margin-right: 8px;
  padding: 14px 24px;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe {
  width: 137px;
  height: 52px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: none;
  background-color: #fd9222;
  color: #fff;
  transition: background-color 250ms linear;
}

/*************** BACKDROP STYLES *****************/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 777;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  width: 517px;
  position: absolute;
  padding: 40px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 15px;
  background: #fafafa;
  transition: transform 250ms linear;
}

.modal-close-btn {
  position: absolute;
  padding: 0; /*прибираємо внутр.відступи для іконки*/
  top: 24px;
  right: 24px;
  line-height: 0; /*у кнопок скидуємо бо при фокусі займає більшу висоту ніж потрібно і outline виділяється пропорційно*/
  stroke: #111;
  border: none;
  background-color: transparent;
  transition: stroke 250ms linear;
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: #fd9222;
}

.review-form-description {
  width: 298px;
  margin-bottom: 40px;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.17;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.form-fields {
  margin-bottom: 18px;
}

.form-field-label {
  display: block;
  margin-bottom: 8px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.form-field-textarea:focus {
  outline: 0px solid transparent;
  transition: border-color 250ms linear;
}

.form-field-textarea:focus {
  border-color: #fd9222;
}

.form-field-input-box {
  position: relative;
}

.form-field-input {
  width: 100%; /*щоб перенести label над input(буде по всій ширині і витіснить label) */
  height: 68px;
  padding-left: 62px;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;
  outline: 0px solid transparent;
  transition: border-color 250ms linear;
}

.form-field-input:focus {
  border-color: #fd9222;
}

.form-field-input-icon {
  position: absolute;
  left: 24px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #111;
  transition: stroke 250ms linear;
}

.form-field-input:focus + .form-field-input-icon {
  stroke: #fd9222;
}

.form-field-textarea {
  width: 100%;
  height: 137px;
  padding: 22px 24px;
  resize: none;
  font-size: 18px;
  font-weight: 400;
  letter-spacing: -0.02em;
  border-radius: 13px;
  border: 1px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;
  color: rgba(64, 64, 64, 0.3);
}

.form-field-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3); /*placeholder наслідує усе окрім кольору*/
}

.privacy-checkbox {
  margin-bottom: 40px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.privacy-checkbox-label {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.user-privacy-component-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: transparent;
  cursor: pointer;
}

.checkmark-icon {
  fill: #fff;
  opacity: 0;
}

input[type="checkbox"]:checked + .privacy-checkbox-label .checkmark-icon {
  opacity: 1;
}

input[type="checkbox"]:checked
  + .privacy-checkbox-label
  > .user-privacy-component-icon {
  background-color: #fd9222;
  border-color: #fd9222;
}

input[type="checkbox"]:focus
  + .privacy-checkbox-label
  > .user-privacy-component-icon {
  outline: 1.5px solid #fd9222;
}

.privacy-policy-link {
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  text-decoration-line: underline;
  color: #fd9222;
}

.modal-bottom-btn {
  width: 117px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  background: #fd9222;
  color: #fff;
  border: none;
  transition: background-color 250ms linear;
}
