/*************** MOBILE COMMON STYLES *****************/
body {
  font-family: "Montserrat", sans-serif;
  background-color: #fafafa;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

button {
  cursor: pointer;
  font-family: inherit;
}

ul,
ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
  list-style-type: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;
  white-space: nowrap;
  overflow: hidden;
  border: 0;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
}

.highlighter-text {
  color: #fd9222;
}

.section {
  padding-top: 30px;
  padding-bottom: 30px;
}

.container {
  max-width: 375px;
  margin: 0 auto;
  padding: 0 20px;
}

@media screen and (max-width: 767px) {
  .burger-navbar-container {
    position: fixed;
    width: 220px;
    height: 100%;
    top: 0;
    right: 0;
    z-index: 9999;
    transform: translateX(100%);
    background-color: #1e1823;
    transition: transform 250ms linear;
  }

  .is-open-nav {
    transform: translateX(0%);
  }

  .burger-menu-close-btn {
    position: absolute;
    top: 20px;
    right: 20px;
    padding: 0;
    line-height: 0;
    border: none;
    background-color: transparent;
  }

  .menu-close-btn-icon {
    stroke: #fff;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-close-btn-icon:hover,
  .menu-close-btn-icon:focus {
    stroke: #fd9222;
  }
  .burger-window-navigation {
    padding: 168px 48px;
  }

  .nav-menu-list-link {
    color: #fff;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .nav-menu-list-link:hover,
  .nav-menu-list-link:focus {
    color: #fd9222;
  }

  .nav-burger-menu-list:first-child .nav-menu-list-link {
    color: #fd9222;
  }

  .nav-burger-menu-list:not(:last-child) {
    margin-bottom: 24px;
  }

  .burger-social-menu {
    display: flex;
    position: absolute;
    column-gap: 18px;
    bottom: 20px;
    left: 20px;
  }

  .burger-social-menu-list-link {
    stroke: #fff;
    fill: transparent;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .burger-social-menu-list-link:hover,
  .burger-social-menu-list-link:focus {
    stroke: #fd9222;
  }
}

/*************** TABLET COMMON STYLES *****************/
@media screen and (min-width: 768px) {
  .section {
    padding-top: 40px;
    padding-bottom: 40px;
  }

  .container {
    max-width: 768px;
    padding: 0 32px;
  }

  .burger-navbar-container {
    display: none;
  }
}
/*************** DESKTOP COMMON STYLES *****************/
@media screen and (min-width: 1168px) {
  .section {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .container {
    max-width: 1168px;
    padding: 0 16px;
  }
}

/*************** MOBILE HEADER STYLES *****************/
.page-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 25px;
  padding-bottom: 14px;
}

.logo-text-simply {
  font-style: italic;
}

.logo {
  display: flex;
  align-items: center;
  text-transform: uppercase;
  font-size: 14px;
  font-weight: 700;
  line-height: 1.29;
  letter-spacing: -0.03em;
  color: #111;
}

.nav-icon-chocolate {
  width: 21px;
  height: 21px;
  margin-left: 4px;
  fill: #fcf1e0;
  stroke: #fd9222;
}

.nav-icon-group {
  cursor: pointer;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-icon-group:hover,
.nav-icon-group:focus {
  stroke: #fd9222;
}

.menu-nav {
  display: none;
}

.header-media-menu {
  display: none;
}

/*************** TABLET HEADER STYLES *****************/
@media screen and (min-width: 768px) {
  .nav-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .page-nav {
    padding-top: 0;
    padding-bottom: 0;
    width: 590px;
  }

  .logo {
    padding-top: 28px;
    padding-bottom: 36px;
  }

  .nav-icon-group {
    display: none;
  }

  .menu-nav {
    display: flex;
    column-gap: 24px;
  }

  .menu-nav-link {
    display: block;
    padding-top: 28px;
    padding-bottom: 36px;
    font-size: 14px;
    font-weight: 500;
    line-height: 1.14;
    letter-spacing: -0.02em;
    color: #111;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .menu-nav-link:hover,
  .menu-nav-link:focus {
    color: #fd9222;
  }

  .header-media-menu {
    display: flex;
    column-gap: 18px;
  }

  .header-media-link {
    display: block;
    padding-top: 28px;
    padding-bottom: 36px;
    line-height: 0;
    fill: none;
    stroke: #111;
    transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-media-link:hover,
  .header-media-link:focus {
    stroke: #fd9222;
  }
}

/*************** DESKTOP HEADER STYLES *****************/
@media screen and (min-width: 1168px) {
  .page-nav {
    width: 980px;
  }

  .logo {
    padding: 0 0;
    font-size: 18px;
    line-height: 1.11;
  }

  .nav-icon-chocolate {
    width: 24px;
    height: 24px;
  }
}

/*************** MOBILE FIRST SECTION STYLES *****************/
.view-section {
  background-position: center;
  max-width: 335px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 30px;
  background-color: rgba(17, 17, 17, 0.4);
  background-image: linear-gradient(rgba(17, 17, 17, 0), rgba(17, 17, 17, 0.4)),
    url(../images/bg/mobile/chocolate-covered-mobile.jpg);
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/bg/mobile/chocolate-covered-mobile@2x.jpg);
  }
}

.component-container {
  padding: 395px 20px 21px 20px;
  margin-bottom: 59px;
}

.header-first-level {
  width: 290px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: -0.03em;
  color: #fff;
}

.view-btn {
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
}

.buy-button {
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 120px;
  height: 41px;
  margin-right: 14px;
  font-size: 14px;
  font-weight: 600;
  border: none;
  border-radius: 100px;
  background-color: #fd9222;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.buy-button:hover,
.buy-button:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

.recipe-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 159px;
  height: 41px;
  text-align: center;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  color: #fff;
  border: 1px solid #fff;
  transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.recipe-link:hover,
.recipe-link:focus {
  background-color: #fff;
  border: 1px solid #fd9222;
  color: #fd9222;
}

.scroll-down-link {
  display: flex;
  align-items: center;
  column-gap: 14px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.03em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down-link:hover,
.scroll-down-link:focus {
  color: #fd9222;
}

.scroll-down-icon-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: #fff;
  fill: #fd9222;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1),
    stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.scroll-down-link:hover .scroll-down-icon-wrapper,
.scroll-down-link:focus .scroll-down-icon-wrapper,
.scroll-down-icon-wrapper:hover,
.scroll-down-icon-wrapper:focus,
.scroll-down-icon-wrapper:hover + .scroll-down-link,
.scroll-down-icon-wrapper:focus + .scroll-down-link {
  background-color: #fd9222;
  fill: #fff;
  stroke: #fff;
  color: #fd9222;
}

/*************** TABLET FIRST SECTION STYLES *****************/
@media screen and (min-width: 768px) {
  .view-section {
    max-width: 704px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/bg/tablet/chocolate-covered-tablet.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 768px),
    screen and (min-resolution: 2dppx) and (min-width: 768px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 768px) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/tablet/chocolate-covered-tablet@2x.jpg);
    }
  }

  .component-container {
    padding-top: 671px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 40px;
    margin-bottom: 40px;
  }

  .header-first-level {
    width: 470px;
    font-size: 28px;
    line-height: 1.21;
  }

  .view-btn {
    flex-wrap: unset;
    row-gap: unset;
    align-items: center;
  }

  .buy-button {
    min-width: 144px;
    height: 45px;
    margin-right: 14px;
  }

  .recipe-link {
    width: 183px;
    height: 45px;
    margin-right: auto;
  }

  .scroll-down-link {
    font-size: 14px;
    line-height: 1.29;
  }

  .scroll-down-icon-wrapper {
    width: 38px;
    height: 38px;
  }
}

/*************** DESKTOP FIRST SECTION STYLES *****************/
@media screen and (min-width: 1168px) {
  .view-section {
    max-width: 1136px;
    background-image: linear-gradient(
        rgba(17, 17, 17, 0),
        rgba(17, 17, 17, 0.4)
      ),
      url(../images/bg/desktop/chocolate-covered-desktop.jpg);
  }

  @media screen and (min-resolution: 192dpi) and (min-width: 1168px),
    screen and (min-resolution: 2dppx) and (min-width: 1168px),
    screen and (min-device-pixel-ratio: 2) and (min-width: 1168px) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/bg/desktop/chocolate-covered-desktop@2x.jpg);
    }
  }

  .component-container {
    padding-top: 381px;
    padding-bottom: 72px;
  }

  .buy-button {
    transition: background-color 250ms linear, color 250ms linear;
  }

  .buy-button:hover,
  .buy-button:focus {
    background-color: #fcf1e0;
    color: #fd9222;
  }

  .recipe-link {
    transition: background-color 250ms linear, color 250ms linear;
  }

  .recipe-link:hover,
  .recipe-link:focus {
    background-color: #fff;
    border-color: #fd9222;
    color: #fd9222;
  }

  .scroll-box {
    display: flex;
    align-items: center;
  }

  .scroll-down-link {
    transition: color 250ms linear;
  }

  .scroll-down-link:hover,
  .scroll-down-link:focus {
    color: #fd9222;
  }

  .scroll-down-icon-wrapper {
    transition: color 250ms linear;
  }

  .scroll-down-link:hover .scroll-down-icon-wrapper,
  .scroll-down-link:focus .scroll-down-icon-wrapper {
    background-color: #fd9222;
    fill: #fff;
  }
}

/*************** MOBILE DESCRIBE SECTION STYLES *****************/
.describe-section {
  margin-bottom: 30px;
  background-color: #1e1823;
}

.benefits-container {
  padding-top: 20px;
  padding-bottom: 20px;
}

.title-describe-section {
  /*visually-hidden*/
  margin-bottom: 50px;
  text-align: center;
  font-size: 24px;
  font-weight: 600;
  line-height: 1.16;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.describe-menu {
  display: flex;
  flex-direction: column;
  row-gap: 38px;
}

.describe-icon-box {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 62px;
  height: 62px;
  border-radius: 50%;
  border: 1px solid rgba(255, 255, 255, 0.5);
  margin-bottom: 22px;
}

.describe-icon {
  fill: #fd9222;
}

.describe-header {
  margin-bottom: 18px;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
}

.describe-paragraph {
  width: 308px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(255, 255, 255, 0.7);
}

/*************** TABLET DESCRIBE SECTION STYLES *****************/
@media screen and (min-width: 768px) {
  .describe-section {
    margin-bottom: 40px;
  }

  .benefits-container {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .describe-menu {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 60px;
  }

  .describe-item {
    width: calc((100% - 2 * 32px) / 2);
  }
}

/*************** DESKTOP DESCRIBE SECTION STYLES *****************/
@media screen and (min-width: 1168px) {
  .describe-section {
    margin-bottom: 50px;
  }

  .benefits-container {
    padding-left: 34px;
    padding-right: 34px;
  }

  .describe-menu {
    flex-direction: unset;
    flex-wrap: unset;
    row-gap: unset;
    column-gap: 88px;
  }

  .describe-item {
    position: relative;
    width: calc((100% - 196px) / 3);
  }

  .describe-item:not(:last-child)::after {
    position: absolute;
    width: 1px;
    height: 50%;
    top: 50%;
    right: -18px;
    transform: translateY(-50%);
    content: "";
    background-color: rgba(255, 255, 255, 0.5);
  }
}

/*************** MOBILE INGREDIENTS STYLES *****************/
.header-ingredients {
  max-width: 283px;
  margin: 0 auto;
  margin-bottom: 24px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.paragraph-ingredients-section {
  max-width: 335px;
  margin: 0 auto;
  margin-bottom: 32px;
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

.ingredients-box-menu {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.ingredients-menu-item {
  position: relative;
  padding: 28px 56px 25px 56px;
  border-radius: 15px;
  overflow: hidden;
}

.ingredients-title {
  font-size: 14px;
  font-weight: 600;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-transform: uppercase;
}

.ingredients-menu-item:nth-child(4n + 1) {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  color: #ffffff;
}

.ingredients-menu-item:nth-child(even) {
  background-color: #fff;
  border: 1px solid #fd9222;
}

.ingredients-menu-item:nth-child(4n + 3) {
  background-color: #1e1823;
  border: 1px solid #1e1823;
  color: #fff;
}

.ingredients-list-img {
  margin-bottom: 25px;
}

.ingredients-menu-item:hover .overlay {
  transform: translateY(0%);
}

.overlay {
  position: absolute;
  width: 100%;
  height: 100%;
  padding: 28px;
  top: 0;
  left: 0;
  transform: translateY(100%);
  border-radius: 15px;
  overflow: auto;
  background-color: #fff;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.overlay-heading {
  margin-bottom: 8px;
  font-size: 18px;
  font-weight: 600;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.overlay-menu {
  display: flex;
  align-items: center;
  column-gap: 6px;
  margin-bottom: 14px;
  white-space: nowrap;
}

.overlay-menu-item-ingredients {
  border-radius: 35px;
  background-color: #fd9222;
}

.overlay-item-ingredients {
  padding: 6px 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #fff;
}

.overlay-menu-item-benefits {
  border-radius: 35px;
  border: 1px solid #fd9222;
  background-color: #fafafa;
}

.overlay-item-benefits {
  padding: 6px 16px;
  font-size: 10px;
  font-weight: 400;
  line-height: 1.2;
  color: #111;
}

.overlay-paragraph {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*************** TABLET INGREDIENTS STYLES *****************/
@media screen and (min-width: 768px) {
  .header-ingredients {
    max-width: 411px;
    margin-bottom: 28px;
    font-size: 24px;
    line-height: 1.17;
  }

  .paragraph-ingredients-section {
    max-width: 486px;
    margin-bottom: 50px;
  }

  .ingredients-box-menu {
    flex-direction: row;
    flex-wrap: wrap;
    row-gap: 32px;
    column-gap: 32px;
  }

  .ingredients-menu-item {
    width: calc((100% - 2 * 32px) / 2);
    margin: 0 auto;
  }
}

/*************** DESKTOP INGREDIENTS STYLES *****************/
@media screen and (min-width: 1168px) {
  .ingredients-box-menu {
    flex-wrap: unset;
    row-gap: unset;
    column-gap: 19px;
  }

  .ingredients-menu-item {
    width: calc((100% - 57px) / 4);
    padding: 32px 28px;
    margin: none;
  }

  .ingredients-list-img {
    margin-bottom: 36px;
  }

  .overlay {
    padding: 20px;
  }
}

/*************** MOBILE HOW IT`S MADE STYLES *****************/
.header-made-section {
  margin-bottom: 32px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.made-box {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.video {
  display: block;
  margin: 0 auto;
  width: 307px;
  margin-bottom: 20px;
  border-radius: 15px;
}

.made-menu-box {
  display: flex;
  flex-direction: column;
  padding: 20px 14px;
  border-radius: 15px;
  background-color: #ffffff;
}

.made-item {
  display: flex;
}

.title-made-section {
  max-width: 307px;
  margin-bottom: 20px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  color: #111;
}

.made-item:not(:last-child) {
  margin-bottom: 18px;
}

.icon-list-box {
  position: relative;
}

.icon-list {
  margin-right: 8px;
  top: 0px;
  left: 0px;
  transform: translateX(-50%);
  fill: #4c4c4c;
  stroke: #eceded;
  stroke-width: 1px;
}

.paragraph-text-made-section {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  color: #111;
}

/*************** TABLET HOW IT`S MADE STYLES *****************/
@media screen and (min-width: 768px) {
  .header-made-section {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }

  .made-box {
    align-items: center;
  }

  .made-menu-box {
    max-width: 614px;
    padding: 32px 32px;
  }

  .title-made-section {
    max-width: 350px;
    margin-bottom: 28px;
  }

  .video {
    width: 560px;
    margin-bottom: 30px;
  }
}

/*************** DESKTOP HOW IT`S MADE STYLES *****************/
@media screen and (min-width: 1168px) {
  .header-made-section {
    margin-bottom: 50px;
    font-size: 24px;
    line-height: 1.17;
  }

  .made-box {
    width: auto;
    flex-direction: unset;
    row-gap: unset;
    column-gap: 20px;
    align-items: unset;
  }

  .made-menu-box {
    flex-direction: row;
    column-gap: 30px;
    max-width: 1156px;
    padding: 32px 32px;
  }

  .video {
    width: 615px;
    margin: auto 0;
  }

  .made-item:not(:last-child) {
    margin-bottom: 24px;
  }
}

/*************** MOBILE TEAM STYLES *****************/
.team-section {
  margin-bottom: 30px;
}

.header-team-section {
  margin-bottom: 74px;
  text-align: center;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.swiper {
  height: 300px;
  margin-bottom: 30px;
}

.swiper-slide {
  position: relative;
  padding: 56px 18px 42px 18px;
  margin-bottom: 20px;
  border: 1px solid rgba(17, 17, 17, 0.1);
  border-radius: 15px;
  background-color: #ffffff;
  box-shadow: 0px 9.05px 100px 0px rgba(17, 17, 17, 0.03);
}

.team-avatar-box {
  width: 80px;
  height: 80px;
  position: absolute;
  top: 80px;
  left: 50%;
  transform: translate(-50%, -50%);
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 80px;
  background-color: lightgray;
}

.title-team-section {
  margin-top: 80px;
  margin-bottom: 24px;
  font-size: 18px;
  font-weight: 600;
  line-height: 1.33;
  text-align: center;
  color: #111;
}

.text-team-section {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  text-align: center;
  color: rgba(17, 17, 17, 0.7);
}

.swiper-pagination-bullet {
  width: 12px !important;
  height: 12px !important;
  background-color: #fd9222 !important;
}

.review-button-team {
  display: block;
  width: 165px;
  height: 41px;
  margin: 0 auto;
  font-size: 14px;
  font-weight: 600;
  background-color: transparent;
  border-radius: 100px;
  border: 1px solid #fd9222;
  color: #111;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.review-button-team:hover,
.review-button-team:focus {
  background-color: #fd9222;
  border: 1px solid #fd9222;
  color: #fff;
}

/*************** TABLET TEAM STYLES *****************/
@media screen and (min-width: 768px) {
  .team-section {
    margin-bottom: 40px;
  }

  .header-team-section {
    margin-bottom: 91px;
    font-size: 24px;
    line-height: 1.17;
  }

  .text-team-section {
    margin: 0 auto;
    width: 312px;
  }

  .swiper-pagination {
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 30px;
  }

  .review-button-team {
    width: 222px;
    height: 50px;
    font-size: 18px;
  }
}

/*************** DESKTOP TEAM STYLES *****************/
@media screen and (min-width: 1168px) {
  .team-section {
    margin-bottom: 50px;
  }
}

/*************** MOBILE FOOTER STYLES *****************/
.page-footer {
  background-color: #1e1823;
  padding: 32px 0;
}

.footer-paragraph-box {
  display: flex;
  flex-direction: column;
  position: relative;
  row-gap: 32px;
}

.footer-paragraph-box:after {
  position: absolute;
  height: 1px;
  width: 100%;
  bottom: 0px;
  background-color: rgba(255, 255, 255, 0.1);
  content: "";
}

.footer-paragraph,
.footer-highlighter-text {
  max-width: 300px;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.17;
  letter-spacing: -0.02em;
  color: #fff;
}

.footer-highlighter-text {
  color: #fd9222;
}

.footer-header {
  margin-bottom: 14px;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
  color: #fff;
}

.address-menu {
  margin-bottom: 32px;
}

.address-item:not(:last-child) {
  margin-bottom: 4px;
}

.address-link {
  text-align: center;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  letter-spacing: -0.02em;
  font-style: normal;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.address-link:hover,
.address-link:focus {
  color: #fd9222;
}

.footer-nav-menu {
  display: flex;
  flex-direction: column;
  row-gap: 18px;
  padding-top: 32px;
  margin-bottom: 32px;
}

.footer-link {
  font-size: 14px;
  font-weight: 500;
  line-height: 1.14;
  letter-spacing: -0.02em;
  color: #fff;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link:hover,
.footer-link:focus {
  color: #fd9222;
}

.footer-btn-form {
  display: flex;
}

.input-data {
  width: 207px;
  height: 45px;
  margin-right: 8px;
  padding-left: 18px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  border-radius: 30px;
  border: 1.5px solid rgba(255, 255, 255, 0.15);
  background-color: transparent;
  color: #fff;
}

.input-data::placeholder {
  color: rgba(255, 255, 255, 0.3);
}

.button-subscribe {
  width: 120px;
  height: 45px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  border: none;
  background-color: #fd9222;
  color: #fff;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-subscribe:hover,
.button-subscribe:focus {
  background-color: #fcf1e0;
  color: #fd9222;
}

/*************** TABLET FOOTER STYLES *****************/
@media screen and (min-width: 768px) {
  .page-footer {
    padding: 50px 0;
  }

  .footer-paragraph-box {
    flex-direction: unset;
    justify-content: space-between;
    row-gap: unset;
  }

  .footer-paragraph,
  .footer-highlighter-text {
    font-size: 28px;
    line-height: 1.21;
  }

  .bottom-page-address {
    margin-bottom: 50px;
  }

  .address-menu {
    margin-bottom: 50px;
  }

  .address-item:not(:last-child) {
    margin-bottom: 4px;
  }

  .footer-nav-box {
    display: flex;
    justify-content: space-between;
    padding-top: 24px;
  }

  .footer-nav {
    display: flex;
    align-items: center;
  }

  .footer-nav-menu {
    flex-direction: unset;
    row-gap: unset;
    column-gap: 16px;
    margin-bottom: 0;
    padding-top: 0;
  }

  .footer-item:nth-child(3),
  .footer-item:nth-child(4) {
    display: none;
  }

  .footer-btn-form {
    display: unset;
  }

  .input-data {
    width: 233px;
    margin-right: 7px;
    padding-left: 24px;
  }

  .button-subscribe {
    width: 128px;
  }
}

/*************** DESKTOP FOOTER STYLES *****************/
@media screen and (min-width: 1168px) {
  .address-link {
    transition: color 250ms linear;
  }

  .address-link:hover,
  .address-link:focus {
    color: #fd9222;
  }

  .footer-link {
    transition: color 250ms linear;
  }

  .footer-link:hover,
  .footer-link:focus {
    color: #fd9222;
  }

  .input-data {
    width: 313px;
    height: 52px;
    margin-right: 8px;
    transition: background-color 250ms linear;
  }

  .button-subscribe {
    width: 137px;
    height: 52px;
    transition: background-color 250ms linear;
  }
}

/*************** MOBILE BACKDROP STYLES *****************/
.backdrop {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  z-index: 777;
  background-color: rgba(46, 47, 66, 0.4);
  transition: opacity 250ms linear, visibility 250ms linear;
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  width: 311px;
  position: absolute;
  padding: 32px 24px;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(1);
  border-radius: 15px;
  background-color: #fafafa;
  transition: transform 250ms linear;
}

.modal-close-btn {
  position: absolute;
  padding: 0;
  top: 14px;
  right: 14px;
  line-height: 0;
  stroke: #111;
  border: none;
  background-color: transparent;
  transition: stroke 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-close-btn:hover,
.modal-close-btn:focus {
  stroke: #fd9222;
}

.modal-close-btn-icon {
  width: 24px;
  height: 24px;
}

.review-form-description {
  width: 255px;
  margin-bottom: 32px;
  font-size: 20px;
  font-weight: 600;
  line-height: 1.2;
  letter-spacing: -0.03em;
  text-transform: uppercase;
  color: #111;
}

.form-fields {
  margin-bottom: 14px;
}

.form-field-label {
  display: block;
  margin-bottom: 4px;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.3);
}

.form-field-input-box {
  position: relative;
}

.form-field-input {
  width: 100%;
  height: 45px;
  padding-left: 43px;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  background-color: transparent;
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  outline: 0px solid transparent;
  transition: border-color 250ms linear;
}

.form-field-input:focus {
  border-color: #fd9222;
}

.form-field-input-icon {
  width: 17px;
  height: 17px;
  position: absolute;
  left: 18px;
  top: 50%;
  transform: translateY(-50%);
  stroke: #111;
  transition: stroke 250ms linear;
}

.form-field-input:focus + .form-field-input-icon {
  stroke: #fd9222;
}

.form-field-textarea {
  width: 100%;
  height: 91px;
  padding: 14px 18px;
  resize: none;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: -0.02em;
  border-radius: 8px;
  border: 1.5px solid rgba(17, 17, 17, 0.05);
  box-shadow: 0px 5.445px 5.445px 0px rgba(0, 0, 0, 0.03);
  background-color: transparent;
  color: #111;
  transition: border 250ms linear;
}

.form-field-textarea:focus {
  border: 1.5px solid #111;
}

.form-field-textarea::placeholder {
  color: rgba(64, 64, 64, 0.3);
}

.privacy-checkbox {
  margin-bottom: 32px;
}

.privacy-checkbox-label {
  display: flex;
  font-size: 12px;
  font-weight: 400;
  line-height: 1.33;
  letter-spacing: -0.02em;
  color: rgba(64, 64, 64, 0.6);
}

.user-privacy-component-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 20px;
  height: 20px;
  margin-right: 12px;
  border-radius: 6px;
  border: 1px solid rgba(17, 17, 17, 0.14);
  background-color: transparent;
  cursor: pointer;
}

.checkmark-icon {
  fill: #fff;
  opacity: 0;
}

input[type="checkbox"]:checked + .privacy-checkbox-label .checkmark-icon {
  opacity: 1;
}

input[type="checkbox"]:checked
  + .privacy-checkbox-label
  > .user-privacy-component-icon {
  background-color: #fd9222;
  border-color: #fd9222;
}

input[type="checkbox"]:focus
  + .privacy-checkbox-label
  > .user-privacy-component-icon {
  outline: 1.5px solid #fd9222;
}

.privacy-policy-text {
  max-width: 231px;
}

.privacy-policy-link {
  text-decoration-line: underline;
  color: #fd9222;
}

.modal-bottom-btn {
  width: 93px;
  height: 41px;
  font-size: 14px;
  font-weight: 600;
  border-radius: 100px;
  background: #fd9222;
  color: #fff;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-bottom-btn:hover,
.modal-bottom-btn:focus {
  background-color: #fcf1e0;
  color: #fd9222;
  border: 1px solid #fd9222;
}

/*************** TABLET BACKDROP STYLES *****************/
@media screen and (min-width: 768px) {
  .modal-window {
    width: 517px;
    padding: 40px;
  }

  .modal-close-btn {
    top: 24px;
    right: 24px;
  }

  .modal-close-btn-icon {
    width: 28px;
    height: 28px;
  }

  .review-form-description {
    width: 298px;
    margin-bottom: 40px;
    font-size: 24px;
    line-height: 1.17;
  }

  .form-fields {
    margin-bottom: 18px;
  }

  .form-field-label {
    margin-bottom: 8px;
  }

  .form-field-input {
    height: 68px;
    padding-left: 62px;
    border-radius: 13px;
  }

  .form-field-input-icon {
    width: 24px;
    height: 24px;
    left: 24px;
  }

  .form-field-textarea {
    height: 137px;
    padding: 22px 24px;
    font-size: 18px;
    border-radius: 13px;
  }

  .privacy-checkbox {
    margin-bottom: 40px;
  }

  .privacy-checkbox-label {
    display: block;
    font-size: 14px;
    line-height: normal;
  }

  .privacy-policy-text {
    max-width: 364px;
  }

  .modal-bottom-btn {
    width: 117px;
    height: 45px;
  }
}

/*************** DESKTOP BACKDROP STYLES *****************/
@media screen and (min-width: 1168px) {
  .modal-close-btn {
    transition: stroke 250ms linear;
  }

  .modal-close-btn:hover,
  .modal-close-btn:focus {
    stroke: #fd9222;
  }

  .modal-bottom-btn {
    transition: background-color 250ms linear;
  }
}
